<div class="content3">
  <h1>Dojos</h1>
  <br>
  <div class="link">
    <h2>Liens vers quelques Dojos affiliés en France et en Europe :</h2>
    <br>
    <div class="clubs">
      <div class="club">
        <h3>France</h3>
          <p><%= link_to "Ki Société Endoume-Roucas", "https://sites.google.com/site/aikidokimarseille/" %></p>
          <p><%= link_to "Ki Aïkido Belfort", "https://www.kinokenkyukai.fr/"%></p>
          <p><%= link_to "Ki Aïkido Montpellier", "http://kiaikidomontpellier.fr/" %></p>
      </div>
      <div class="club">
        <h3>Belgique</h3>
          <p><%= link_to "Ki Aïkido Bruxelles", "http://www.aikidoavecki.be/"%></p>
          <p><%= link_to "Ki Aïkido Liège Botanique", "http://aikifocuscenter.be/"%></p>
          <p><%= link_to "Ki & Aïkido de Sclessin", "http://www.aikidoliege.be/"%></p>
          <p><%= link_to "Ki Aïkido Liège Perron", "http://www.aikido-liege.be/" %></p>
          <p><%= link_to "Ki Aïkido Anderlecht", "http://www.atelier-de-linde.be/Ki/index.htm" %></p>
      </div>
      <div class="club">
        <h3>Italie</h3>
          <p><%= link_to "Dojo Ronin Ki Aïkido Novara", "https://www.centrosportivoamos.it/portfolio-articoli/ki-aikido/" %></p>
          <p><%= link_to "Ki Aïkido Kaï Association", "https://www.kiaikidokai.it/" %></p>
          <p><%= link_to "Ki Aïkido Novara", "https://ki-aikidonovara.it/" %></p>
          <p><%= link_to "Dojo Punto Ki", "http://www.kiaikido.it/" %></p>
          <p><%= link_to "Centro Ki Aïkido Torino", "https://kiaikidotorino.it/" %></p>
      </div>
      <div class="club">
        <h3>Allemagne</h3>
          <p><%= link_to "Ki & Aikido Dojo Berlin e.V.", "https://www.ki-aikido-berlin.de/" %></p>
          <p><%= link_to "Ki & Aikido Dojo Hamburg", "https://ki-aikido-hamburg.de/" %></p>
          <p><%= link_to "Aikido Club Mustin", "https://www.aikido-club-mustin.de/" %></p>
          <p><%= link_to "Ki Aikido Balingen", "http://www.aikido-balingen.de/" %></p>
      </div>
      <div class="club">
        <h3>Espagne</h3>
          <p><%= link_to "Centro Ki Aikido Barcelona", "https://sites.google.com/site/kiaikidobcn/" %></p>
          <p><%= link_to "UBK - Ki Dojo Catalunya", "http://www.ubk-centre.com/" %></p>
          <p><%= link_to "Ki Aïkido Madrid", "http://www.aikidomadrid.com/" %></p>
          <p><%= link_to "Escola Aïkido Valencia", "http://www.extendyourki.com/" %></p>
          <p><%= link_to "Ki Aïkido Valencia", " https://kinokenkyukaivalencia.wordpress.com/" %></p>
      </div>
      <div class="club">
        <h3>Danemark</h3>
          <p><%= link_to "Toitsu - Ki & Aikido Dojo Gladsaxe", "https://www.toitsu.dk/" %></p>
          <p><%= link_to "Ki og Aikido Dojo Helsingør", "https://www.aikidohelsingor.dk/" %></p>
          <p><%= link_to "Ki-Selskabets", "https://www.ki-selskabet.dk/" %></p>
          <p><%= link_to "Shin Shin Toitsu Aikido, Århus", "https://www.shinshintoitsu.dk/" %></p>
      </div>
      <div class="club">
        <h3>Royaume-Uni</h3>
          <p><%= link_to "The British Ki Society", "https://ki-aikido.org.uk/" %></p>
      </div>
      <div class="club">
        <h3>Finlande</h3>
          <p><%= link_to "Ki-Aikido Shizentai Dojo", "http://www.vmahelsinki.com/kiaikido/" %></p>
          <p><%= link_to "Ki No Kenkyukai Finland", "https://www.combatsociety.fi/classes.php?laji=2" %></p>
          <p><%= link_to "KiDo", "https://kido.fi/en/" %></p>
      </div>
      <div class="club">
        <h3>Suisse</h3>
          <p><%= link_to "Ki-Aikido Schule Luzern", "https://ki-aikido.ch/schule-luzern/" %></p>
          <p><%= link_to "Ki Aikido Associazione Ticinese", "http://www.aikido-balerna.ch/" %></p>
      </div>
      <div class="club">
        <h3>Norvège</h3>
          <p><%= link_to "Ki-Aikido Karasukai", "https://www.kiaikidostavanger.com/" %></p>
      </div>
      <div class="club">
        <h3>Hongrie</h3>
          <p><%= link_to "Shin-Shin Toitsu Aikido Magyarország", "http://www.kiaikido.hu/pages/home.php" %></p>
      </div>
      <div class="club">
        <h3>République Tchèque</h3>
          <p><%= link_to "Aikidó Praha Libuš", "http://ki-aikido-praha.cz/" %></p>
      </div>
    </div>
  </div>
</div>
