<div class="content">
  <div class="log">
    <div class="login">
      <%= link_to "login", new_user_session_path %>
    </div>
    <div class='logout'>
      <%= link_to destroy_user_session_path, method: :delete, class: "out-btn" do%>
      <i class="fa-solid fa-circle-xmark"></i>
      <% end %>
    </div>
  </div>
  <h1>Accueil</h1>
  <div class="container">
    <div class="cards">
      <div class="card">
        <img src= <%= asset_path('100_0815.jpg')%> alt="picture description" width="320" class="img_card">
        <h2>Respiration</h2>
        <p>La respiration est un élément <strong>très important</strong> dans la pratique de l'Aïkido</p>
      </div>

      <div class="card">
        <img src= <%= asset_path('100_0797.jpg')%> alt="picture description" width="320" class="img_card">
        <h2>Relaxation</h2>
        <p>Un corps relaxé est plus <strong> efficace et fluide</strong> dans ses mouvements</p>
      </div>

      <div class="card">
        <img src= <%= asset_path('100_0554.jpg')%> alt="picture description" width="320" class="img_card">
        <h2>Coordination</h2>
        <p>La coordination du corps et de l'esprit est  <strong>essentielle</strong> dans la pratique de l'Aïkido</p>
      </div>

      <div class="card">
        <img src= <%= asset_path('100_0569.jpg')%> alt="picture description" width="320" class="img_card">
        <h2>Unification</h2>
        <p><strong>L'esprit</strong> bouge le corps</p>
      </div>
    </div>
  </div>
  <br>
  <div class="news">
    <h2>News</h2>
    <br>
    <ul>
      <% @nouvelles.each do |nouvelle| %>
      <li><%= nouvelle.created_at.strftime("%d-%m-%Y")  %>
          <%= ': ' %>
          <%= nouvelle.comment %>
          <% if policy(nouvelle).destroy? %>
            <%= link_to nouvelle_path(nouvelle), class: 'trash',
              method: :delete,
              data: { confirm: "Are you sure?" } do%>
              <i class="fa-regular fa-trash-can"></i>
              <% end %>
          <% end %>
      </li>
      <br>
      <% end %>
      <li>20/08/2022 : Ouverture en septembre du Dojo de Ki Aïkido à Castelnaudary le 15/09/2022.
      Le cours débutera à 20h30 et dureront jusqu'à 22h30.
      Les deux premiers cours sont gratuits.</li>
      <br>
    </ul>
    <% if user_session %>
      <%= link_to new_nouvelle_path, class: 'add' do%>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    <% end %>
    <br>
    <div class="card-product2">
      <img src=<%= asset_path('ki.gif')%> alt="picture description" width="189" class="img_card"/>
      <div class="card-product-infos">
        <p>Shinshin Toïtsu Aïkido ou Aïkido avec coordination de l'esprit et du corps ou plus simplement Ki Aïkido ("Style" fondée par Koïchi Toheï senseï)</p>
      </div>
    </div>
    <br>
  </div>
  <div class="but">
    <p>Promouvoir la pratique du Ki-Aïkido selon l'enseignement du maître Kenjiro Yoshigasaki, élève direct du maître fondateur du Ki-Aïkido : Koïchi Toheï.</p>
    <br>
    <p>L'association considère le Ki-Aïkido comme un élément important de l'éducation, de la culture, de la santé publique, de l'intégration et de la participation à la vie sociale.</p>
    <br>
    <p>Elle s'interdit toutes discriminations basées notamment sur la race, le sexe, les opinions politiques, philosophiques ou religieuses.</p>
    <br>
    <p>Elle s'engage à respecter les droits de l'homme et la liberté d'opinion, et elle s'engage à respecter les règles d'hygiène et de sécurité applicables aux disciplines pratiquées en son sein.</p>
  </div>
</div>
